*.egg-info
*.log
*.mo
*.pyc
*~
.*project
.coverage
.installed.cfg
.mr.developer.cfg
develoment.cfg
default.cfg
cache.cfg
development.cfg
.settings
bin/
coverage/
develop-eggs/
downloads/
eggs/
htmlcov/
include/
lib/
local.cfg
Makefile
parts/
src/collective.cover/
src/prodam.tema
src/prodam.tiles
src/prodam.secoes
var/
dist/
