[buildout]
find-links =
    http://dist.plone.org/release/4.3.3
    http://dist.plone.org/thirdparty

extends =
    plone-versions.cfg
    test-4.3.x.cfg
    qa.cfg
    robots-versions.cfg
    versions.cfg
    source.cfg

package-name = prodam.portal
package-extras = [test]
eggs +=
    iw.debug
    pexpect
    collective.twitter.portlets
    python-oauth2
    collective.upload
    wildcard.tinymceplugins.youtube 
parts +=
    i18ndude
    omelette
    code-analysis

[code-analysis]
directory = ${buildout:directory}/src/prodam/portal
pre-commit-hook = True
flake8-ignore = E501
clean-lines = True
deprecated-aliases = True
imports = True
prefer-single-quotes = True
return-status-codes = True
utf8-header = True

[instance]
zcml += iw.debug

[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[versions]
prodam.portal =
