[transmogrifier]
pipeline =
	csvsource
	generate_id_from_title
	set_content_type
	generate_path
	disable_versioning
	constructor
	enable_versioning
	schemaupdater
	reindexobject
	savepoint
	logger

[csvsource]
blueprint = collective.transmogrifier.sections.csvsource
filename = prodam.portal:data/noticias.csv

[logger]
blueprint = collective.transmogrifier.sections.logger
name = logger
level = INFO

[migrationcontent]
blueprint = collective.transmogrifier.sections.migrationcontent

# --- GENERATE ID FROM TITLE -------------------------------------------------
#
# Generate a '_generated_id' key from the title (url normalization).
#
# https://pypi.python.org/pypi/plone.app.transmogrifier#url-normalizer-section
#
# ----------------------------------------------------------------------------

[generate_id_from_title]
blueprint = plone.app.transmogrifier.urlnormalizer
source-key = title
destination-key = string:_generated_id
locale = string:en
condition = python:'_path' not in item

# --- SET CONTENT TYPE -------------------------------------------------------
#
# Tnsert a key '_type' defining the portal type that the constructor will use
# to create content.
#
# https://github.com/collective/collective.transmogrifier/blob/master/src/collective/transmogrifier/sections/inserter.txt
#
# ----------------------------------------------------------------------------

[set_content_type]
blueprint = collective.transmogrifier.sections.inserter
key = string:_type
value = string:NewItem
condition = python:'_type' not in item

# --- GENERATE PATH ----------------------------------------------------------
#
# Tnsert a key '_path' defining the path in the portal where the constructor will create the content.
#
# https://github.com/collective/collective.transmogrifier/blob/master/src/collective/transmogrifier/sections/inserter.txt
#
# ----------------------------------------------------------------------------

[generate_path]

blueprint = collective.transmogrifier.sections.inserter
key = string:_path
value = python:(item['_folder'] + '/noticia/' if '_folder' in item else 'noticia/') + item['_generated_id']
condition = python:'_path' not in item

# --- DISABLE VERSIONING -----------------------------------------------------
#
# It can be helpful to disable versioning during content construction to
# avoid storing incomplete versions in the content item's revision history.
#
# https://pypi.python.org/pypi/plone.app.transmogrifier#disable-enable-versioning-sections
#
# ----------------------------------------------------------------------------

[disable_versioning]

blueprint = plone.app.transmogrifier.versioning.disable

# --- CONSTRUCTOR ------------------------------------------------------------
#
# Constructor sections do only one thing, they construct *new* content. No
# schema changes are made. Also, constructors create content without
# restrictions, no security checks or containment constraints are checked.
# Construction needs 2 pieces of information: the path to the item
# (including the id for the new item itself) and it's portal type.
#
# https://github.com/collective/collective.transmogrifier/blob/master/src/collective/transmogrifier/sections/constructor.txt
#
# ----------------------------------------------------------------------------

[constructor]

blueprint = collective.transmogrifier.sections.constructor
required = True

# --- ENABLE VERSIONING -----------------------------------------------------
#
# See DISABLE VERSIONING.
#
# ----------------------------------------------------------------------------

[enable_versioning]

blueprint = plone.app.transmogrifier.versioning.enable

# --- SCHEMA UPDATER ---------------------------------------------------------
#
#
# ----------------------------------------------------------------------------

[schemaupdater]

blueprint = transmogrify.dexterity.schemaupdater

# --- REINDEX OBJECT ---------------------------------------------------------
#
# Reindex an existing object in the portal_catalog. This section requires an
# already created object with a '_path' key.
#
# https://pypi.python.org/pypi/plone.app.transmogrifier#indexing-section
#
# ----------------------------------------------------------------------------

[reindexobject]

blueprint = plone.app.transmogrifier.reindexobject

# --- SAVEPOINT --------------------------------------------------------------
#
# A savepoint pipeline section commits a savepoint to free memory.
#
# https://github.com/collective/collective.transmogrifier/blob/master/src/collective/transmogrifier/sections/savepoint.txt
#
# ----------------------------------------------------------------------------

[savepoint]

blueprint = collective.transmogrifier.sections.savepoint
every = 2000
